[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
whitenoise = {extras = ["brotli"], version = "*"}
django-crispy-forms = "*"
django = "*"
django-ckeditor = "*"
psycopg2 = "*"
brotli = "*"
brotlipy = "*"
pip-autoremove = "*"
pipdeptree = "*"
setuptools = "*"
environs = {extras = ["django"], version = "*"}
tzdata = "*"

[dev-packages]

[requires]
python_version = "3.10"
