{% extends 'base.html' %}
{% block content %}
<div class="article-entry">
    <h2>{{article.title}}</h2>
    <p>by {{article.author}} | {{article.date}}</p>
    <p>{{article.body}}</p>
    <div class="">
        
    </div>
</div>
<p>
    {% if user == article.author %}
    <a href="{% url 'articleupdate' article.pk %}">Edit</a> | 
    <a href="{% url 'articledelete' article.pk %}">Delete</a>
    {% endif %}
</p>
<p>Return to
    <a href="{% url 'articlelist' %}">All Articles</a>
</p>
{% endblock content %}