{% extends 'base.html' %}
{% block content %}
<div class="card" >
    <div class="article-entry">
    <h2 class="card-header" style="background-color: #E9E3D9;">{{article.title}}</h2>
    <p class="card-header" style="background-color: #E9E3D9;">{{article.author}} | {{article.date}}</p>
    <p class="card-body pl-3 my-2">{{article.body}}</p>
</div>
    {% if user == article.author %} 
<span class="card-footer pl-3">
    <a href="{% url 'articleupdate' article.pk %}">Edit</a> | 
    <a href="{% url 'articledelete' article.pk %}">Delete</a>
</span>
    {% endif %}
<div  style="background-color: #E9E3D9;" >
    <p class="pl-3 my-2" >Return to
    <a href="{% url 'articlelist' %}">All Articles</a>
</p>
</div>
</div>
{% endblock content %}